In [13]:
# Run as is
import numpy as np
import pandas as pd
import sqlite3
import talipp as tp

pd.set_option('display.max_columns', 15)

In [10]:

# Connect to the SQLite database
connection = sqlite3.connect('etf_data.db')

# List of table names
etf_list = ['spy', 'tlt', 'hyg', 'lqd', 'vnq']

df = pd.read_sql_query(f"SELECT * FROM {etf_list[0]}", connection)

# # Loop through the list and display data for each table
# for table_name in etf_list:
#     df = pd.read_sql_query(f"SELECT * FROM {table_name}", connection)
#     print(f"Data for table: {table_name}")
#     # print(df)

# Close the connection
connection.close()

In [53]:
# Rename last column to close
df.rename(columns={df.columns[4]: 'close'}, inplace=True)

# Assuming 'date' is the name of the column containing the dates in your DataFrame 'df'
df = df.sort_values(by='date', ascending=True)

# Reindex the sorted DataFrame
df = df.reset_index(drop=True)

df

,date,open,high,low,close,daily_change,perct_chg,volume,BOP,SOBV,Stoch,ForceIndex,MACD
0,2000-01-03 00:00:00,96.7815,96.7815,93.9286,94.9471,-0.9400,-0.98,12506077.0,NaN,NaN,NaN,NaN,NaN
1,2000-01-04 00:00:00,93.7002,94.0462,91.1541,91.2325,-3.7146,-3.91,12391960.0,NaN,NaN,NaN,NaN,NaN
2,2000-01-05 00:00:00,91.3565,92.3945,89.6004,91.3957,0.1632,0.18,18654116.0,NaN,NaN,NaN,NaN,NaN
3,2000-01-06 00:00:00,91.1541,92.3749,89.9268,89.9268,-1.4689,-1.61,9538833.0,NaN,NaN,NaN,NaN,NaN
4,2000-01-07 00:00:00,91.5981,95.1494,91.4348,95.1494,5.2226,5.81,12356277.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859,2023-04-18 00:00:00,415.5800,415.7200,412.7802,414.2100,0.2700,0.07,63559900.0,0.956038,2.008931e+07,22.410415,-1.003819e+07,NaN
5860,2023-04-19 00:00:00,412.2200,415.0800,412.1600,414.1400,-0.0700,-0.02,55227300.0,-0.501328,1.888489e+07,31.098415,-3.032101e+06,NaN
5861,2023-04-20 00:00:00,411.2100,413.7000,410.2700,411.8800,-2.2600,-0.55,75840300.0,0.014030,1.762330e+07,45.358656,-2.517951e+06,NaN
5862,2023-04-21 00:00:00,412.1900,412.6800,410.1700,412.2000,0.3200,0.08,73457400.0,-0.853255,1.532433e+07,29.883559,-1.966159e+06,NaN
5863,2023-04-24 00:00:00,411.9900,413.0700,410.6000,412.6300,0.4300,0.10,64332000.0,-0.642995,1.592442e+07,66.726546,-4.945383e+06,NaN

In [54]:
from talipp.ohlcv import OHLCV

close = [float(row['close']) for index,row in df.iterrows()]

# Assuming you have a DataFrame named 'df' with columns 'open', 'high', 'low', 'close', and 'volume'
ohlcv = [OHLCV(float(row['open']), float(row['high']), float(row['low']), float(row['close']), float(row['volume']))
         for index, row in df.iterrows()]

In [55]:
# close
# ohlcv

In [56]:
from talipp.indicators import AccuDist, ADX, ALMA, AO, Aroon, ATR, BB, BOP, CCI, ChaikinOsc, ChandeKrollStop, CHOP, \
    CoppockCurve, DEMA, DonchianChannels, DPO, EMA, EMV, ForceIndex, HMA, Ichimoku, KAMA, KeltnerChannels, KST, KVO, \
    MACD, MassIndex, MeanDev, OBV, PivotsHL, ROC, RSI, ParabolicSAR, SFX, SMA, SMMA, SOBV, StdDev, Stoch, StochRSI, \
    SuperTrend, TEMA, TRIX, TSI, TTM, UO, VTX, VWAP, VWMA, WMA

In [57]:
    # print(f'AccuDist: {AccuDist(ohlcv)[-1]}')
    # print(f'ADX: {ADX(14, 14, ohlcv)[-1]}')
    # print(f'ALMA: {ALMA(9, 0.85, 6, close)[-1]}')
    # print(f'AO: {AO(5, 34, ohlcv)[-1]}')
    # print(f'Aroon: {Aroon(14, ohlcv)[-1]}')
    # print(f'ATR: {ATR(14, ohlcv)[-1]}')
    # print(f'BB: {BB(20, 2, close)[-1]}')
    # print(f'BOP: {BOP(ohlcv)[-1]}')
    # print(f'CCI: {CCI(20, ohlcv)[-1]}')
    # print(f'ChaikinOsc: {ChaikinOsc(3, 10, ohlcv)[-1]}')
    # print(f'ChandeKrollStop: {ChandeKrollStop(10, 2, 9, ohlcv)[-1]}')
    # print(f'CHOP: {CHOP(14, ohlcv)[-1]}')
    # print(f'CoppockCurve: {CoppockCurve(11, 14, 10, close)[-1]}')
    # print(f'DEMA: {DEMA(20, close)[-1]}')
    # print(f'DonchianChannels: {DonchianChannels(20, ohlcv)[-1]}')
    # print(f'DPO: {DPO(20, close)[-1]}')
    # print(f'EMA: {EMA(20, close)[-1]}')
    # print(f'EMV: {EMV(14, 10000, ohlcv)[-1]}')
    # print(f'ForceIndex: {ForceIndex(13, ohlcv)[-1]}')
    # print(f'HMA: {HMA(9, close)[-1]}')
    # print(f'Ichimoku: {Ichimoku(26, 9, 52, 52, 26, ohlcv)[-1]}')
    # print(f'KAMA: {KAMA(14, 2, 30, close)[-1]}')
    # print(f'KeltnerChannels: {KeltnerChannels(20, 26, 1, 1, ohlcv)[-1]}')
    # print(f'KST: {KST(10, 10, 15, 10, 20, 10, 30, 15, 9, close)[-1]}')
    # print(f'KVO: {KVO(34, 55, ohlcv)[-1]}')
    # print(f'MACD: {MACD(12, 26, 9, close)[-1]}')
    # print(f'MassIndex: {MassIndex(9, 9, 10, ohlcv)[-1]}')
    # print(f'MeanDev: {MeanDev(10, close)[-1]}')
    # print(f'OBV: {OBV(ohlcv)[-1]}')
    # print(f'Pivots: {PivotsHL(15, 15, ohlcv)[-4:]}')
    # print(f'ROC: {ROC(9, close)[-1]}')
    # print(f'RSI: {RSI(14, close)[-1]}')
    # print(f"SAR: {ParabolicSAR(0.02, 0.02, 0.2, ohlcv)[-20:]}")
    # print(f'SFX: {SFX(12, 12, 3, ohlcv)[-1]}')
    # print(f'SMA: {SMA(20, close)[-1]}')
    # print(f'SMMA: {SMMA(7, close)[-1]}')
    # print(f'SOBV: {SOBV(7, ohlcv)[-1]}')
    # print(f'StdDev: {StdDev(7, close)[-1]}')
    # print(f'Stoch: {Stoch(14, 3, ohlcv)[-1]}')
    # print(f'StochRSI: {StochRSI(14, 14, 3, 3, close)[-1]}')
    # print(f'SuperTrend: {SuperTrend(10, 3, ohlcv)[-20:]}')
    # print(f'TEMA: {TEMA(20, close)[-1]}')
    # print(f'TRIX: {TRIX(18, close)[-1]}')
    # print(f'TSI: {TSI(13, 25, close)[-1]}')
    # print(f'TTM: {TTM(20, input_values = ohlcv)[-20:]}')
    # print(f'UO: {UO(7, 14, 28, ohlcv)[-1]}')
    # print(f'VTX: {VTX(14, ohlcv)[-1]}')
    # print(f'VWAP: {VWAP(ohlcv)[-1]}')
    # print(f'VWMA: {VWMA(20, ohlcv)[-1]}')
    # print(f'WMA: {WMA(9, close)[-1]}')

In [58]:
# Define the indicators
bop = BOP(ohlcv)
sobv = SOBV(7, ohlcv)
stoch = Stoch(14, 3, ohlcv)
force_index = ForceIndex(13, ohlcv)
macd = MACD(12, 26, 9, close)

In [59]:
# Create new columns in the DataFrame
for i in range(5685):  # Assuming the length of the indicators matches the DataFrame length (5865 rows)
    df.loc[i, 'BOP'] = bop[i]
    df.loc[i, 'SOBV'] = sobv[i]
    df.loc[i, 'Stoch'] = stoch[i].k
    df.loc[i, 'ForceIndex'] = force_index[i]
    df.loc[i, 'MACD'] = macd[i].histogram

In [60]:
df

,date,open,high,low,close,daily_change,perct_chg,volume,BOP,SOBV,Stoch,ForceIndex,MACD
0,2000-01-03 00:00:00,96.7815,96.7815,93.9286,94.9471,-0.9400,-0.98,12506077.0,-0.642995,1.592442e+07,66.726546,-4.945383e+06,NaN
1,2000-01-04 00:00:00,93.7002,94.0462,91.1541,91.2325,-3.7146,-3.91,12391960.0,-0.853255,1.532433e+07,29.883559,-1.966159e+06,NaN
2,2000-01-05 00:00:00,91.3565,92.3945,89.6004,91.3957,0.1632,0.18,18654116.0,0.014030,1.762330e+07,45.358656,-2.517951e+06,NaN
3,2000-01-06 00:00:00,91.1541,92.3749,89.9268,89.9268,-1.4689,-1.61,9538833.0,-0.501328,1.888489e+07,31.098415,-3.032101e+06,NaN
4,2000-01-07 00:00:00,91.5981,95.1494,91.4348,95.1494,5.2226,5.81,12356277.0,0.956038,2.008931e+07,22.410415,-1.003819e+07,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859,2023-04-18 00:00:00,415.5800,415.7200,412.7802,414.2100,0.2700,0.07,63559900.0,0.956038,2.008931e+07,22.410415,-1.003819e+07,NaN
5860,2023-04-19 00:00:00,412.2200,415.0800,412.1600,414.1400,-0.0700,-0.02,55227300.0,-0.501328,1.888489e+07,31.098415,-3.032101e+06,NaN
5861,2023-04-20 00:00:00,411.2100,413.7000,410.2700,411.8800,-2.2600,-0.55,75840300.0,0.014030,1.762330e+07,45.358656,-2.517951e+06,NaN
5862,2023-04-21 00:00:00,412.1900,412.6800,410.1700,412.2000,0.3200,0.08,73457400.0,-0.853255,1.532433e+07,29.883559,-1.966159e+06,NaN
5863,2023-04-24 00:00:00,411.9900,413.0700,410.6000,412.6300,0.4300,0.10,64332000.0,-0.642995,1.592442e+07,66.726546,-4.945383e+06,NaN

In [61]:
# Assuming 'close' is the name of the column containing the close prices in your DataFrame 'df'
# Calculate the percentage change 5 rows below the current row
df['percentage_change'] = df['close'].shift(-5) / df['close'] - 1

# Create the new column based on the conditions
conditions = [
    (df['percentage_change'] >= 0.01),
    (df['percentage_change'] <= -0.01)
]

values = [2, 0]

# Default value (in between)
df['label'] = np.select(conditions, values, default=1)

# Drop the 'percentage_change' column if you don't need it anymore
# df = df.drop(columns=['percentage_change'])

# Print the DataFrame with the new column
df

,date,open,high,low,close,daily_change,perct_chg,volume,BOP,SOBV,Stoch,ForceIndex,MACD,percentage_change,label
0,2000-01-03 00:00:00,96.7815,96.7815,93.9286,94.9471,-0.9400,-0.98,12506077.0,-0.642995,1.592442e+07,66.726546,-4.945383e+06,NaN,0.005568,1
1,2000-01-04 00:00:00,93.7002,94.0462,91.1541,91.2325,-3.7146,-3.91,12391960.0,-0.853255,1.532433e+07,29.883559,-1.966159e+06,NaN,0.033989,2
2,2000-01-05 00:00:00,91.3565,92.3945,89.6004,91.3957,0.1632,0.18,18654116.0,0.014030,1.762330e+07,45.358656,-2.517951e+06,NaN,0.021857,2
3,2000-01-06 00:00:00,91.1541,92.3749,89.9268,89.9268,-1.4689,-1.61,9538833.0,-0.501328,1.888489e+07,31.098415,-3.032101e+06,NaN,0.052632,2
4,2000-01-07 00:00:00,91.5981,95.1494,91.4348,95.1494,5.2226,5.81,12356277.0,0.956038,2.008931e+07,22.410415,-1.003819e+07,NaN,0.008371,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859,2023-04-18 00:00:00,415.5800,415.7200,412.7802,414.2100,0.2700,0.07,63559900.0,0.956038,2.008931e+07,22.410415,-1.003819e+07,NaN,NaN,1
5860,2023-04-19 00:00:00,412.2200,415.0800,412.1600,414.1400,-0.0700,-0.02,55227300.0,-0.501328,1.888489e+07,31.098415,-3.032101e+06,NaN,NaN,1
5861,2023-04-20 00:00:00,411.2100,413.7000,410.2700,411.8800,-2.2600,-0.55,75840300.0,0.014030,1.762330e+07,45.358656,-2.517951e+06,NaN,NaN,1
5862,2023-04-21 00:00:00,412.1900,412.6800,410.1700,412.2000,0.3200,0.08,73457400.0,-0.853255,1.532433e+07,29.883559,-1.966159e+06,NaN,NaN,1
5863,2023-04-24 00:00:00,411.9900,413.0700,410.6000,412.6300,0.4300,0.10,64332000.0,-0.642995,1.592442e+07,66.726546,-4.945383e+06,NaN,NaN,1

label
1    2358
2    2037
0    1469
Name: count, dtype: int64